/* PCバージョン */
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  color: #333333;
  letter-spacing: 0.05em;
}
@media (min-width: 767px) {
  .sp {
    display: none;
  }
}

h2 {
  font-size: 20px;
  letter-spacing: 0.05em;
}
h3 {
  font-size: 10px;
  letter-spacing: 0.05em;
}
p {
  font-size: 13px;
}
a {
  text-decoration: none;
}

/* ヘッダー */
.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  padding: 10px;
}
.pc ul {
  display: flex;
}
.pc li {
  padding: 0 5px;
  font-size: 10px;
}
.pc li a {
  color: #fff;
  font-weight: bold;
}
h1 {
  font-size: 15px;
  color: #fff;
  letter-spacing: 0.05em;
}
.page_name {
  width: 100%;
  height: 30%;
  padding: 50px 0;
  background-color: #000;
  color: #fff;
}
.page_name h2 {
  text-align: center;
  color: #fff;
}
.page_name h3 {
  text-align: center;
  color: #fff;
}

/*　メイン */
.pancake {
  background-color: #f7f7f7;
  margin: 0 auto;
  padding: 5px 0;
  font-size: 10px;
}
.pancake div {
  width: 70%;
  margin: 0 auto;
}
.pancake a {
  color: #7633a4;
}
/* サービス */
.service {
  margin: 20px auto;
  width: 70%;
}
.section_items {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 0 40px 0;
  width: 100%;
}
.section_items img {
  width: 45%;
  height: 100%;
}
.item {
  width: 50%;
  height: 100%;
}
.section_items p {
  padding-top: 10px;
  font-size: 13px;
  line-height: 22px;
}
/* 　コンタクト */
.contact {
  background-color: #f7f7f7;
  padding: 50px;
  text-align: center;
}
.contact h2 {
  color: #391e88;
}
.contact h3 {
  color: #391e88;
}
.contact p {
  padding: 30px 0;
}
.contact button {
  padding: 10px 40px;
  font-size: 10px;
  background-color: #7633a4;
  color: #fff;
  border: none;
  border-radius: 20px;
}
/* フッター */
footer {
  background-color: #000;
  padding: 50px;
}
footer ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
footer li {
  margin: 0 5px;
  font-size: 10px;
  padding: 5px 0;
}
footer a {
  color: #fff;
  list-style: none;
}
footer p {
  font-size: 5px;
  text-align: center;
}

/* スマホ向け */
@media (max-width: 767px) {
  .pc {
    display: none;
  }
  .spnav {
    position: fixed;
  }
  .spnav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 60px;
    position: absolute;
    background-color: #000;
    color: #fff;
    width: 100vh;
    height: 100vh;
    top: -150px;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 100;
    opacity: 0;
  }
  .sp a {
    color: #fff;
  }
  .on button {
    font-size: 30px;
    background-color: #000;
    color: #fff;
    border: none;
    width: 20px;
    margin: 0;
    padding: 0;
  }
  .section_items {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .service {
    padding: 3%;
    width: 90%;
    margin: 0 auto;
  }
  .section_items img {
    width: 90%;
  }
  .item {
    width: 90%;
  }
}
